@model SistemaVendas.Context.Tb_Empresa
@{
    ViewBag.Title = "Cadastro de Empresas";
}

<h2>Cadastro de Empresas</h2>

@using (Html.BeginForm("CadastrarEmpresa", "Empresa", FormMethod.Post))
{
<div class="container">
    <div class="form-group">
        <label>Razão Social</label>
        @Html.ValidationMessageFor(x => x.RazaoSocial, "", new { @class = "error" })
        @Html.TextBoxFor(x => x.RazaoSocial, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Cnpj</label>
        @Html.ValidationMessageFor(x => x.Cnpj, "", new { @class = "error" })
        @Html.TextBoxFor(x => x.Cnpj, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Endereço</label>
        @Html.ValidationMessageFor(x => x.Endereco, "", new { @class = "error" })
        @Html.TextBoxFor(x => x.Endereco, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Telefone</label>
        @Html.ValidationMessageFor(x => x.Telefone, "", new { @class = "error" })
        @Html.TextBoxFor(x => x.Telefone, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Digite o Id do Usuário (Não consegui incluir um dropdown com as opções)</label>
        @Html.ValidationMessageFor(x => x.IdUsuarioCadastro, "", new { @class = "error" })
        @Html.TextBoxFor(x => x.IdUsuarioCadastro, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Cadastrar!</button>
    </div>
</div>
}

